{% extends 'layout.html' %}
{% block title %}Products{% endblock %}
{% block body %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add product
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action=" " method="POST">


                    <div class="form-group">
                        <label for="exampleInput">Name of product</label>
                        <input type="text" class="form-control" name="name" id="exampleInput"
                               placeholder="Name of product">
                    </div>

                    <div class="form-group">
                        <label for="exampleInput1">Barcode of product</label>
                        <input type="text" class="form-control autocomplete" name="barcode" id="exampleInput1"
                               placeholder="Barcode of product" autocomplete="on">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput4">Product Type</label>

                        <select class="form-control" name="supplier_id" id="exampleInput4">
                            <option value="">-- Select a supplier --</option>
                            {% for supplier in suppliers %}
                            <option value="{{ supplier.id }}">{{ supplier.name }}</option>

                            {% endfor %}
                        </select>

                        <input type="hidden" name="supplier_name" id="supplierName" value="">

                    </div>

<!--                    <div class="form-group">-->
<!--                        <label for="exampleInput2">Quantity of product</label>-->
<!--                        <input type="text" class="form-control" name="quantity" id="exampleInput2"-->
<!--                               placeholder="Quantity of product">-->
<!--                    </div>-->

                    <div class="form-group">
                        <label for="exampleInput3">Price of product</label>
                        <input type="text" class="form-control" name="price" id="exampleInput3"
                               placeholder="Price of product">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>


<!-- ------------------------------------------------------------------ Filter by Supplier -->
<form class="form-inline mb-3" id="filter-form">
    <label class="my-1 mr-2" for="supplier-select">Filter by Supplier:</label>
    <select class="form-control my-1 mr-sm-2" name="selected_supplier_id" id="supplier-select">
        <option value="">All Suppliers</option>
        {% for supplier in filter_dropdown_cols %}
        {% if supplier.id == selected_supplier_id %}
        <option value="{{ supplier.id }}" selected>{{ supplier.name }}</option>
        {% else %}
        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <input type="hidden" name="selected_supplier_name" id="selectedSupplier" value="">
    <button type="submit" class="btn btn-primary my-1">Apply</button>
</form>

<!-- Filter Section -->
<div class="table-responsive">
    <form action=" " id="filter-property-form" method="GET">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>
                    <button class="btn btn-link filter-icon" type="button">
                        <i class="fas fa-filter"></i>
                    </button>

                    <div class="filter-container d-none" data-index="0">
                        <div class="form-inline filter-form" id="filter-form-0">
                            <div class="form-group mr-2 mb-2">
                                <label for="filter-column-0" class="sr-only">Column</label>
                                <select class="form-control filter-column" id="filter-column-0" name="filter_column-0">
                                    <option value="" disabled selected>Select a property</option>
                                    {% for column in filter_dropdown_properties %}
                                    <option value="{{ column }}">{{ column }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mr-2 mb-2">
                                <label for="filter-condition-0" class="sr-only">Condition</label>
                                <select class="form-control filter-condition" id="filter-condition-0" name="filter_condition-0">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="equals">equals</option>
                                    <option value="contains">contains</option>
                                    <option value="starts_with">starts with</option>
                                    <option value="ends_with">ends with</option>
                                </select>
                            </div>
                            <div class="form-group mr-2 mb-2">
                                <label for="filter-value-0" class="sr-only">Value</label>
                                <input type="text" class="form-control filter-value" id="filter-value-0" name="filter_value-0">
                            </div>
                        </div>
                        <div class="text-left row mb-2 mt-3">
                            <div class="col-sm-4 ">
                                <button type="button" class="btn btn-secondary add-filter-btn">Add filter +</button>
                            </div>
                            <div class="col-sm-8 text-left">
                                <button type="button" class="btn btn-danger mr-2 clear-all-btn">Clear all</button>
                                <input type="hidden" name="filter_query" id="filterQuery" value="true">
                                <button type="submit" class="btn btn-primary save-changes-btn">Save changes</button>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
        </table>
    </form>
</div>

 {% include 'product_table.html' %}


<!--<table class="table table-striped" id="dataTable">-->
<!--    <thead>-->

<!--    <tr>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Barcode</th>-->
<!--        <th scope="col">Supplier</th>-->
<!--        <th scope="col">Quantity</th>-->
<!--        <th scope="col">Price</th>-->
<!--        <th scope="col">Action</th>-->
<!--    </tr>-->

<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for product in products %}-->
<!--    <tr data-supplier-id="{{ product.supplier.id }}">-->
<!--        <th>{{product.name}}</th>-->
<!--        <td>{{product.barcode}}</td>-->
<!--        <td>{{product.supplier.name}}</td>-->
<!--        <td>{{product.quantity}}</td>-->
<!--        <td>{{product.price}}</td>-->
<!--        <td><a href="/product/update/{{product.id}}">-->
<!--            <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="far fa-edit"></i></button>-->
<!--        </a>-->
<!--            <a data-toggle="modal" data-target="#deleteModal{{product.id}}">-->
<!--                <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="far fa-trash-alt"></i></button>-->
<!--            </a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    &lt;!&ndash; delete model &ndash;&gt;-->
<!--    <div class="modal fade" id="deleteModal{{product.id}}" tabindex="-1" role="dialog"-->
<!--         aria-labelledby="deleteModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="deleteModalLabel">Delete Product?</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST">-->
<!--                        <input class="btn btn-danger" type="submit" value="Delete">-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->


{% endblock %}
