<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Product Table (React)</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='react-table.css') }}">-->
<!--  </head>-->
<!--  <body>-->
<!--    <div id="product-table-container"></div>-->
<!--    <script src="{{ url_for('static', filename='react.development.js') }}"></script>-->
<!--    <script src="{{ url_for('static', filename='react-dom.development.js') }}"></script>-->
<!--    <script src="{{ url_for('static', filename='axios.min.js') }}"></script>-->
<!--    <script src="{{ url_for('static', filename='react-table.js') }}"></script>-->
<!--    <script src="{{ url_for('static', filename='product_table_react.js') }}"></script>-->
<!--  </body>-->
<!--</html>-->
